@font-face { font-family: "SF Mono Regular"; src: url("~@fonts/SFMono-Regular.otf"); }
@font-face { font-family: "SF Mono Semibold"; src: url("~@fonts/SFMono-Semibold.otf"); }
@font-face { font-family: "SF Mono Medium"; src: url("~@fonts/SFMono-Medium.otf"); }
@font-face { font-family: "SF Mono Light"; src: url("~@fonts/SFMono-Light.otf"); }
@font-face { font-family: "SF Mono Bold"; src: url("~@fonts/SFMono-Bold.otf"); }
@font-face { font-family: "SF Mono Heavy"; src: url("~@fonts/SFMono-Heavy.otf"); }
@font-face { font-family: "Druk Wide Bold"; src: url("~@fonts/Druk-Wide-Bold.otf"); }
