* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "SF Mono Regular", sans-serif;
  image-rendering: pixelated;
}

body {
  background-color: $primary-100;
  background-image: url(@images/pattern_1.png);
  background-blend-mode: overlay;
  background-size: 100px;
}
